/*start About Us */

.breadcrumb-holder{
	background-color: #f5f5f5;
}
.breadcrumb{
	padding: 10px 0;
	margin: 0;
}
.about-us{
	padding: 70px 0;
}
.about-us h1{
	font-weight: bold;
	font-size: 62px;
	font-family: 'Raleway', sans-serif;
}
.about-us img{
	height: 500px;
	width: 1000px;
}
.about-us hr{
	width: 70%;
}
.about-features{
	padding:  0 0 70px;
}
.about-features h3,
.about-features p{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.about-features p{
	margin-bottom: 20px;
}
.about-ceo{
	background-color: #EEE;
	padding-top: 40px;
}
.about-ceo .lead{
	line-height: 1.8;
}
.about-ceo h2{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.about-ceo .btn-primary{
	background-color: #333;
	border-color: #333;
	 margin-bottom: 30px;
}
/*end about us*/

/*Faq*/
.faq{
	padding: 40px 0;
}
.faq h1{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 62px;

}
.questions .panel-heading a:after{
       font-family: 'Glyphicons Halflings';
       content: "\e114";
       float: right;
       color: #444;
}
.faq  hr{
	width: 70%;
}
.questions .panel-heading a.collapsed :after{
	content: "\e080";
	color: #999;
}
.questions .panel-heading{
	padding: 20px 15px;
}
/*end*/