/**************8*/
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.dropdown-menu >li>a:hover,
.dropdown-menu >li>a:focus,
.carousel-indicators .active,
.option-box .gear-check,
.dropdown-menu .divider
{

background-color: #FFD500;	
}

.navbar-inverse .navbar-brand span,
.testmonials span,
.about h1 span,
.footer .copyright span,
.footer h3
{
  color: #FFD500;
}


.option-box .color-option,
.testmonials .carousel-indicators li.active
{
 	border: 4px solid #FFD500;
 }
 .dropdown-menu{
 border-top: 3px solid #FFD500;
  }


/***********/